---
layout: page
title: Staff
description: Meet our team.
permalink: /staff/
menu: true
---

<h1>Staff</h1>

<div class="staff">
  {% for author in site.authors %}
    <div class="item">
      <h2 class="name">
        <a href="https://19-2-skku-oss.github.io/2019-2-OSS-L5/far-far-away-behind-the-word-mountains/"> {{ author.display_name1 }} </a>
        <a href="https://19-2-skku-oss.github.io/2019-2-OSS-L5/the-quick-brown-fox-jumps-over-a-lazy-dog/"> {{ author.display_name2 }} </a>
        <a href="https://19-2-skku-oss.github.io/2019-2-OSS-L5/why-books-should-be-your-priority/"> {{ author.display_name3 }} </a>
        <a href="https://19-2-skku-oss.github.io/2019-2-OSS-L5/a-wonderful-serenity-has-taken-possession-of-my-entire-soul/"> {{ author.display_name4 }} </a>
        <a href="https://19-2-skku-oss.github.io/2019-2-OSS-L5/candy-candies-candy/"> {{ author.display_name5 }} </a>
        
      </h2>
      {% if author.position %}
        <h3 class="position">{{ author.position }}</h3>
      {% endif %}
    </div>
  {% endfor %}
</div>
